<!-- about-->
<div class="sticky-top top120">
<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">News and Events</h1>
                    
                    <a href="index.html" class="text-decoration-none textprimary">Home <i class="bi bi-chevron-right"></i></a> <span class="textprimary">News and Events</span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- news -->
<!-- <section class="newssec py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/New_Batches_Patashala.png" class="img-fluid" alt="New Batches Patashala"/>
            </div>
          
        </div>
    </div>
</section> -->
<!-- latest news -->
 <!-- news -->

 
 <section class="newssec py-5">
    <div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let image of batchAnnouncementData">
          <div class="card pt-4">
            <div class="image-container">
                <img *ngIf="image.imagesUrl" [src]="image.imagesUrl" alt="Batch Announcement Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
      <ng-template #noImagesTemplate>
        <p>No images available in this folder.</p>
      </ng-template>
</section>

<!-- <p-dialog header="Quick Contact Form" 
    [(visible)]=showDialog
    [modal]="true" 
    [style]="{width: '50vw'}"
    [breakpoints]=" 
        { 
         
            '480px': '95vw' 
        }"
    [draggable]="false" 
    [resizable]="false">
    <form [formGroup]="dialogquickContactForm" (ngSubmit)="donSubmit()">
        <div class="container">
                <div class="row">
                    <div *ngIf="successMessageindialog" class="success-message success-res-message">
                        {{ successMessageindialog }}
                      </div>
                    <div *ngIf="fulName && fulName.invalid && (fulName.dirty || fulName.touched)">
                        <div *ngIf="fulName.hasError('required')" class="error-res-message">
                          Name is mandatory.
                        </div>
                      </div>
                      <div *ngIf="dmobile && dmobile.invalid && (dmobile.dirty || dmobile.touched)">
                        <div *ngIf="dmobile.hasError('required')" class="error-res-message">
                          Mobile number is mandatory.
                        </div>
                        <div *ngIf="dmobile.hasError('pattern')" class="error-res-message">
                          Please enter a valid 10-digit mobile number.
                        </div>
                      </div>
                      <div *ngIf="demail && demail.invalid && (demail.dirty || demail.touched)">
                        <div *ngIf="demail.hasError('required')" class="error-res-message">
                          Email is mandatory.
                        </div>
                        <div *ngIf="demail.hasError('email')" class="error-res-message">
                          Please enter a valid email address.
                        </div>
                      </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="username" formControlName = "fulName">
                    </div>
                    <div class="col-md-6 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="demail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Mobile  </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="dmobile">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="exampleInputEmail1" class="form-label">State </label>
                        <p-dropdown appendTo="body" [options]="states" formControlName="dstate"  [showClear]="true" class="form-control" placeholder="Select State"></p-dropdown>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Course/ PROGRAM</label>
                            <p-dropdown appendTo="body" [options]="courses" formControlName="dcourse"  [showClear]="true" class="form-control" placeholder="Select Course"></p-dropdown>
                    </div>
                </div>
                <div class="row tpad bpad">
                    <div class="col-md-12 text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </div>
    </form>
</p-dialog> -->





<!-- end course -->