<div class="sticky-top top120">
    <section class="aboutus">
        <div class="container position-relative">
            <div class="row justify-content-end">
                <div class="col-xl-12 text-center">
                    <div class="text-white ms-auto">
                        <!-- Page heading-->
                        <h1 class="mb-2">{{Subheading}}</h1>

                        <a href="javascript:void(0)" class="text-decoration-none textprimary">Courses <i
                                class="bi bi-chevron-right"></i></a> <a href="javascript:void(0)"
                            class="text-decoration-none textprimary">Domestic Courses <i
                                class="bi bi-chevron-right"></i></a> <span class="textprimary">CLAT</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h2 class="left-panel-heading">CMA - Courses</h2>
                <div class="features-image-2">
                    <img src="assets/img/course-02.jpg" alt="patshala">
                </div>
                <ul class="courses-list-left">
                    <li><a [routerLink]="['/cpa']"> Commerce Professional Courses </a></li>
                    <li><a [routerLink]="['/cs']"> CS</a></li>
                    <li><a [routerLink]="['/ca']"> CA</a></li>
                    <li><a [routerLink]="['/cma']"> CMA</a></li>
                    <li><a [routerLink]="['/acca']"> ACCA</a></li>
                    <li><a [routerLink]="['/cima']"> CIMA</a></li>
                    <li><a [routerLink]="['/cima_us']"> CMA(US)</a></li>
                    <li><a [routerLink]="['/cpa']"> CPA</a></li>
                    <li><a [routerLink]="['/clat']"> LAW Courses </a></li>
                    <li><a [routerLink]="['/clat']">CLAT</a></li>
                    <li><a [routerLink]="['/slat']">SLAT</a></li>
                    <li><a [routerLink]="['/ailet']">AILET</a></li>
                    <li><a [routerLink]="['/tslawcet']">TS LAWCET</a></li>
                    <li><a [routerLink]="['/ipmat']"> Management Courses </a></li>
                    <li><a [routerLink]="['/ipmat']">IPMAT</a></li>
                    <li><a [routerLink]="['/cat']">CAT</a></li>
                    <li><a [routerLink]="['/tsicet']">TS ICET</a></li>
                    <li><a [routerLink]="['/study_hub_videos']"> Study Hub- Videos</a></li>
                    <li><a [routerLink]="['/online_live_classes']"> Online-Live Classes</a></li>
                    <li><a [routerLink]="['/recordedvideos']"> Resource-Live Classes Recordings</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12">
                <br>
              
            </div>
        </div>
    </div>
</section>


<!-- <p>The SAT is a standardized test conducted by the College Board in Digital format for international
    applicants aiming to apply to universities abroad for various UG level courses in countries like The
    USA, The UK, Canada, Australia, Italy, and New Zealand. (A bunch of Indian Institutions also).</p>
<ul>
    <p>Features of SAT Exam</p>
    <li><b>Mode of Exam: </b>Computer Based Test (Digital) </li>
    <li><b>Duration of Exam: </b>2 hr 14 mins </li>
    <li><b>Types of Questions: </b>MCQs (75%) & SPR (Student Produced Responses 25%) </li>
    <li><b>Sections & Subjects of SAT: </b>2 Sections<ul>
            <li>Reading & Writing</li>
            <li>Mathematics</li>
        </ul>
    </li>
    <li><b>Total Score: </b>800- 1600 </li>
    <li><b>Segregation of SAT Exam Paper: </b>Total 98 Questions <ul>
            <li>54 Questions Two Sections(Reading & Writing) </li>
            <li> 44 Questions Two Sections (Mathematics)
        </ul>
    <li><b>No. of times SAT conducted: </b>Seven times in a year </li>
    <li><b>SAT Score validity:</b>Up to 5 years from the date exam taken</li>
    <div class="row">
        <div class="col-lg-12">
            <h3>SAT Syllabus</h3>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">SAT Reading & Writing Section Areas</th>
                        <th scope="col">Skill / Knowledge Testing Areas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Craft and Structure</td>
                        <td><p>	Words in Context</p><p>	Text Structure and Purpose</p>  <p>Cross-Text Connections</p>	</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Information and Ideas</td>
                        <td><p>Central Ideas and Details</p><p>Command of Evidence based on - Textual and Quantitative Inferences</p> </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Standard English Conventions</td>
                        <td><p>	Boundaries</p><p>Form, Structure, and Sense</p></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Expression of Ideas</td>
                        <td>Rhetorical Synthesis Transitions</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">SAT Math Testing Areas</th>
                        <th scope="col">Skill / Knowledge Testing Areas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Algebra</td>
                        <td><p>Linear equations in one variable</p><p>•	Linear equations in two variables</p> <p>Linear functions</p><p>Systems of two linear equations in two variables</p><p>Linear inequalities in one or two variables</p>	</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Advanced Math</td>
                        <td><p>Equivalent expressions</p><p>Nonlinear equations in one variable and systems of equations in two variables</p><p>Nonlinear functions</p> </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Problem-solving and Data Analysis</td>
                        <td><p>Ratios, rates, proportional relationships, and units</p><p>Percentages</p><p>One-variable data: distributions and measures of centre and spread</p><p>Two-variable data: models and scatterplots</p><p>Probability and conditional probability</p><p>Inference from sample statistics and margin of error</p><p>Evaluating statistical claims: observational studies and Experiments</p></td>
                    </tr>
                    <tr><th scope="row">3</th>
                        <td>Geometry and Trigonometry</td>
                        <td><p>Area and volume</p><p>Lines, angles, and triangles</p><p>Right triangles and trigonometry</p><p>Circles</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->