.container-fluid{
    margin: 5% 0;
}
.features-image-2 img {
    border: 10px solid #eee;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    max-height: 305px;
    margin-top: 15px;
    margin-left: 10px;
  }