
<div class="sticky-top top120">
<section class="aboutus">
    <div class="container position-relative">
        <div class="row justify-content-end">
            <div class="col-xl-12 text-center">
                <div class="text-white ms-auto">
                    <!-- Page heading-->
                    <h1 class="mb-2">Career Oppurtunities </h1>
                    <a href="javascript:void(0)" class="text-decoration-none textprimary">Students <i class="bi bi-chevron-right"></i></a>   <span class="textprimary">Career Oppurtunities</span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="features-image-2 text-center">
               <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="features-image-2">
                        <img src="assets/img/Careers.webp" alt="patshala" class="mb-3 img-data" >
                    </div>
                    
                </div>
                <div class="col-sm-6 col-lg-6">
                  <h2 class="page-sub-title text-center" style="width: 100% !important;">Present Openings </h2>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Job Position</th>
                        <th scope="col">Qualifications</th>
                        <th scope="col">Experience</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Field Sales Marketing Executive </td>
                        <td>Bachelor’s degree in Marketing/Business/ or a related field</td>
                        <td>Minimum of 1-2 years  </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Video Editor</td>
                        <td>Bachelor’s degree</td>
                        <td>Minimum of 2-3 years </td>
                       
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Graphic Designer </td>
                        <td>Bachelor’s degree</td>
                        <td>Minimum of 2-3 years</td>
                       
                      </tr>
                    </tbody>
                  </table>
                  <p>To apply, kindly mail us your updated CV with the following details to <b>hr@patshala.co.in</b></p>
                  <p><b>Note:</b>Include the Position you’re applying for in the mailer subject line. In case you don’t find a suitable position; mail us your details attached with your CV to the above email address.</p>
                </div>
               </div>
              
                </div>
            </div>
        </div>
    </div>
</section>


